*.jou
*.log
*.str
obj_dir/
build/
src/ip/clk/*
!src/ip/clk/clk_wiz_0.xci
src/ip/ila/*
!src/ip/ila/ila_0.xci
.Xil/
.ip_user_files/
dump.vcd
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
nexys-video-master.xdc
Makefile.bak